<section class="section content-width">
  <h2 class="section__title">About</h2>
  <div class="p-about-contents">
    <figure class="p-about__icon"><img src="<%= meta.imgPath ;%>about-icon.jpg" alt="" /></figure>
    <div class="p-about__description">
      <span class="p-about__heading">KAKERU MIYAICHI</span>
      <p class="p-about__text">
        テキストテキストテキストテキストテキストテキストテキスト<br />
        テキストテキストテキストテキストテキストテキストテキスト<br />
        テキストテキストテキストテキストテキストテキストテキスト<br />
      </p>
    </div>
  </div>
</section>
