<header class="l-header content-width margin-inline-center">
  <h1 class="site-logo">
    <img src="<%= meta.imgPath %>logo.png" alt="サイトロゴ" /><a href="#" class="visually__links"
      ><span class="visually-hidden">サイトロゴ</span></a
    >
  </h1>
  <nav class="p-gnav">
    <ul class="p-gnav__list">
      <li class="p-gnav__item">
        <a href="" class="p-gnav__link">About</a>
      </li>
      <li class="p-gnav__item">
        <a href="" class="p-gnav__link">Bicycle</a>
      </li>
    </ul>
  </nav>
</header>
