@use '../../foundation' as *;

/* ==  index  ======================================
    #1 ヘッダー内グローバルナビのレイアウト
================================================ */

/* ================================================
    #1 ヘッダー内グローバルナビのレイアウト
================================================ */

.p-gnav {
  margin-left: auto;
}

.p-gnav__list {
  display: flex;
}

.p-gnav__item {
  padding: rem(22) rem(15);
}

.p-gnav__link {
  display: block;
}
