@use '../../foundation' as *;

/* ==  index  ======================================
    #1 MVのレイアウト
================================================ */

/* ================================================
    #1 MVのレイアウト
================================================ */
.p-mv__img {
  position: relative;
  &::before {
    content: '';
    display: block;
    aspect-ratio: 1280 /600;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
